.list {
    justify-content: center;
    margin: auto;
    align-items: center;
}

.roboto {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
}




.header {
    display: flex;
    font-size: large;
    color: rgb(160, 160, 160);
    justify-content: center;
    margin: auto;
    margin-top: 10vh;
    align-items: center;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 150,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
}

.close-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-60%);
    /* Center the button vertically */
    font-size: 0.8rem;
    /* Adjust font size as needed */
    cursor: pointer;
    /* Indicate clickable behavior */
    color: rgb(118, 0, 0);
    /* Button color */
    opacity: 0;
    /* Hide the button initially */
    transition: opacity 0.2s ease-in-out;
    /* Smooth fade in/out on hover */
}

/* Show button on hover */
li:hover .close-btn {
    opacity: 1;
    /* Button becomes visible on hover */
}

/* Remove unnecessary styles (optional) */
.close-btn:active {
    opacity: 1;
    /* Remove click effect */
}

li.clicked .close-btn {
    opacity: 1;
    /* Remove click effect */
}